
h1 {
    color: #333333;          /* Altera a cor do texto */
    font-size: 32px;         /* Altera o tamanho da fonte */
    font-family: Arial, sans-serif; /* Altera o tipo da fonte */
    text-align: center;      /* Alinha o título no centro da página */
    text-transform: uppercase; /* Deixa todo o texto em letras maiúsculas */
}


body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    color: darkred;
}

section{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

    {background: white;
    padding: 20px;
    border-radius: 10px;
}

img{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th{
    background-color: rgb(13, 0, 0);
    color: white;
}
h3 {
    color: #333333f9;          /* Altera a cor do texto */
    font-size: 32px;         /* Altera o tamanho da fonte */
    font-family: Arial, sans-serif; /* Altera o tipo da fonte */
    text-align: center;      /* Alinha o título no centro da página */
    text-transform: uppercase; /* Deixa todo o texto em letras maiúsculas */

}
